.div{
    font-family: 'Times New Roman', Times, serif;
}
.heading{
    font: 28px;
    font-weight: bold;
    color: Red;
}
h1{
    text-align: center;
    color:burlywood;
}
.ing{
    font-style: italic;
}